$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 50px;
  margin-bottom: 100px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

#map-container {
  overflow: hidden;
  height: 300px;
  width: 700px;
}

#map {
  height: 300px;
  width: 700px;
  margin-bottom: 100px;

  img {
    max-width: none;
    background: none;
  }
}

.top-buffer { 
  margin-top: 30px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.brand {
  width: 16px;
}

.red {
  color: #C16D85;
}

.pointer {
  cursor: pointer;
}

.img-post {
  width: 700px;
}

.aside-left, .aside-right {
  padding: 0 !important;
}

.aside-left {
  margin-left: -20px;
  margin-right: 10px;
}

.aside-right {
  margin-left: 10px;
  margin-right: -20px;
}

.ad, .widget {
  margin-bottom: 10px;
}

.wave svg path,
.wave svg rect {
  fill: #fff;
}

header a.player {
  font-size: 1.5em;
  float: left;
}

.angular-google-map-container { 
  height: 200px; 
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 2px !important;
    padding-left: 2px !important;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}