.box {
  align-items: stretch;
  display: flex;
  padding: 0;
  width: 100%;
  z-index: z("box", "root");

  @each $direction in $box-directions {
    &--#{$direction} {
      flex-direction: $direction;
    }
  }

  @include media(tablet) {
    flex-flow: column nowrap;
    width: 100%;
  }

  &__cell {
    display: flex;
    flex: 1 1 0;
    padding: 10px;
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;
    }

    @each $size, $value in $box-sizes-values {

      &--#{$size} {
        @extend %flex-option;
        width: $value;
      }
    }

    @include media(tablet) {
      flex: 1 1 auto;
      margin-bottom: 10px;
      padding: 10px 0;
      width: 100%;
    }

    &.has-shadow {
      box-shadow: 0 1px 10px 5px rgba($black, .2);
    }

    &--white {
      background-color: $white;
    }

    &--yellow {
      background-color: $yellow;
      border-right: 6px solid $darken-yellow;

      @include media(tablet) {
        max-height: 350px;
      }
    }
  }

  &__info {
    padding: 15px;
    position: relative;

    &--left {
      background-color: $downy;
      border-right: 6px solid $darken-green;
    }

    &--big {
      min-width: 200px;
    }
  }

  &__button {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: -25px;
    top: 0;
    z-index: z("box", "button");

    &--featured {
      color: $white;
      bottom: auto;
      right: 20px;
      top: 20px;
    }
  }

  &__image {
    height: 245px;
    position: relative;

    &,
    img {
      width: 100%;
    }

    img {
      height: 100%;
    }

    &--featured {
      height: 100%;
      width: 310px;

      @include media(tablet) {
        max-height: 310px;
        width: 100%;
      }
    }
  }

  &__headline {
    position: absolute;
    z-index: z("box", "headline");

    &--left {
      bottom: 0;
      height: 250px;
      left: 150px;
      margin: auto;
      overflow: auto;
      top: 0;

      @include media(tablet) {
        left: 10px;
      }
    }

    &--bottom {
      left: 20px;

      &,
      &-left {
        bottom: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      &-left {
        left: -10px;
      }
    }

    &--featured {
      bottom: 30px;
      width: auto;
    }
  }

  &__title {

    &--featured {
      color: $downy;
      margin-top: 0;
    }
  }

  &__subtitle {

    &--featured {
      margin: 0;
    }
  }

  &__text {

    &--featured {
      color: $nobel;
    }
  }

  &__divider {

    &--horizontal {
      border-color: $black;
      height: 1px;
      margin: 0;
      width: 40%;
    }

    &--vertical {

    }
  }
}

%flex-option {
  @include media(tablet-up) {
    flex: 0 0 auto;
  }
}
