// Primary Colors
$matterhorn: #4D4D4D;
$downy: #65C4A9;
$yellow: #F2CE3E;

// Secondary Colors
$nobel: #979797;
$whisper: #ECECEC;
$hbacked: #4E9992;

// Tertiary Colors
$green: #51A795;
$red: #E74C3D;
$blue: #0071BA;

// Misc Colors
$white: #FFF;
$black: #000;

// Color Variations
$darken-yellow: #F2AE3C;
$darken-green: #21A89B;
$saturate-green: #58C63C;
$turquoise: #65D78C;
$black-pearl: #1F2428;
