
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <base href="/">

    <title>Radio a la Calle | Home </title>
    
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/css/color-defaults.css">
    <!-- <link rel="stylesheet" href="assets/css/swatch-beige-black.min.css">
    <link rel="stylesheet" href="assets/css/swatch-black-beige.min.css">
    <link rel="stylesheet" href="assets/css/swatch-black-white.min.css">
    <link rel="stylesheet" href="assets/css/swatch-black-yellow.min.css">
    <link rel="stylesheet" href="assets/css/swatch-blue-white.min.css">
     -->
    <link rel="stylesheet" href="assets/css/swatch-green-white.min.css">
    <link rel="stylesheet" href="assets/css/swatch-red-white.css">
    <!-- <link rel="stylesheet" href="assets/css/swatch-white-black.min.css">
    <link rel="stylesheet" href="assets/css/swatch-white-blue.min.css">
    <link rel="stylesheet" href="assets/css/swatch-white-green.min.css">
    <link rel="stylesheet" href="assets/css/swatch-white-red.min.css">
    <link rel="stylesheet" href="assets/css/swatch-yellow-black.min.css">
     -->
     <link rel="stylesheet" href="assets/css/fonts.min.css" media="screen">
  </head>
  
  <body class="pace-on pace-dot" ng-app="rac">
    <div class="pace-overlay"></div>

    <div class="top-bar swatch-green-white" style="background: url('http://www.radioalacalle.com/images/bg_body.jpg')">
      <div class="container">
        <div class="top top-left">
          <div class="sidebar-widget">
            <ul class="list-unstyled inline social-icons social-simple">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="top top-right">
          <div class="sidebar-widget">
            <b>
              <a current-time="'h:mm a'"></a>
            <a>{{((weather.temperature - 32)  *  (5/9)).toFixed(2)}}°C</a>
            </b>
          </div>
        </div>
      </div>
    </div>

    <header id="masthead" class="navbar navbar-sticky swatch-green-white" role="banner" ng-controller="HeaderController" style="background: url('http://www.radioalacalle.com/images/bg_body.jpg')">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="../index.html" class="navbar-brand">
            <img src="images/logo_bird.png" alt="One of the best themes ever" style="width: 48px;">
          </a>
        </div>
        <nav class="collapse navbar-collapse main-navbar" role="navigation">
          <div class="sidebar-widget widget_search pull-right">
            <form>
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Buscar...">
                <span class="input-group-btn">
                  <button class="btn" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown active">
              <a href="/" class="dropdown-toggle" data-toggle="dropdown">Inicio</a>
            </li>
            <li class="dropdown menu-item-object-oxy_mega_menu">
              <a ng-click="goTo('/live')" class="dropdown-toggle" data-toggle="dropdown" style="font-weight: bold">Vivo!</a>
            </li>
            <li class="dropdown menu-item-object-oxy_mega_menu">
              <a ng-click="goTo('/about')" class="dropdown-toggle" data-toggle="dropdown">Nosotros</a>
            </li>
            <li class="dropdown menu-item-object-oxy_mega_menu">
              <a ng-click="goTo('/schedule')" class="dropdown-toggle" data-toggle="dropdown">Programas</a>
            </li>
            <li class="dropdown menu-item-object-oxy_mega_menu">
              <a ng-click="goTo('/blog')" class="dropdown-toggle" data-toggle="dropdown">Notas</a>
            </li>
            <li class="dropdown menu-item-object-oxy_mega_menu">
              <a ng-click="goTo('/contact')" class="dropdown-toggle" data-toggle="dropdown">Contacto</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    
    <div id="content" role="main">
      <div class="cotainer">
        <div class="row">
          <section class="section swatch-red-white" ng-show="showHomeVideo">
              <div class="background-media" style="background-image: url(''); background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;">
                  <video poster="" style="width: 100%; height: 100%;" loop autoplay class="section-background-video">
                      <source type="video/mp4" src="http://theme-background-videos.s3.amazonaws.com/corporate.m4v"></source>
                      <source type="video/webm" src=""></source>
                      <source type="video/ogg" src=""></source>
                  </video>
              </div>
              <div class="background-overlay" style="background-color:rgba(193,109,133,0.8)"></div>
              <div class="container">
                  <header class="section-header underline">
                      <!-- <h1 class="headline hyper hairline">RADIO A LA CALLE</h1> -->
                      <img src="http://www.radioalacalle.com/images/logo_calle.png" alt="">
                  </header>
              </div>
          </section>
          <section class="section swatch-green-white" ng-show="!showHomeVideo">
            <div class="container">
              <header class="section-header underline">
                <h1 class="headline super hairline">
                  {{ title }}
                  <br>
                  <small>{{subTitle}}</small>
                </h1>
              </header>
            </div>
          </section>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12" ng-view></div>
          <!-- <div class="col-md-3 col-xs-12"></div> -->
        </div>
      </div>
    </div>

    <footer id="footer" role="contentinfo">
      <section class="section swatch-green-white has-top">
        <div class="decor-top"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
                <ul class="unstyled inline small-screen-center social-icons social-background social-big">
                  <li>
                    <a target="_blank" href="http://www.oxygenna.com">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="http://www.oxygenna.com">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" href="http://www.oxygenna.com">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div id="text-4" class="sidebar-widget widget_text">
                <div class="textwidget">Radio a la Calle
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </footer>

    <a class="go-top circle" href="javascript:void(0)">
      <i class="fa fa-angle-up"></i>
    </a>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="assets/js/packages.js"></script>
    <script src="assets/js/theme.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/schedule.js"></script>
    <script src="scripts/controllers/live.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/post.js"></script>
    <script src="scripts/controllers/aside.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/show.js"></script>

    <script src="scripts/services/page.js"></script>
    <script src="scripts/services/post.js"></script>
    <script src="scripts/services/gallery.js"></script>
    <script src="scripts/services/email.js"></script>
    <script src="scripts/services/mixcloud.js"></script>
    <script src="scripts/services/current.js"></script>
    <script src="scripts/services/ad.js"></script>
    <script src="scripts/services/widget.js"></script>
    <script src="scripts/services/weather.js"></script>
    <script src="scripts/services/show.js"></script>

    <script src="scripts/directives/infinit-scroll.js"></script>
    <script src="scripts/directives/script.js"></script>
    <script src="scripts/directives/current-time.js"></script>
    <script src="scripts/directives/flash.js"></script>
    <script src="scripts/directives/slider.js"></script>
    <script src="scripts/directives/isotope.js"></script>
    <script src="scripts/directives/mobile-menu.js"></script>
    <script src="scripts/directives/vertical-tab.js"></script>

    <script src="scripts/filters/text.js"></script>
    <script src="scripts/filters/show-days.js"></script>
    <!-- endbuild -->
  </body>
</html>
