<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Radio a la Calle, un lugar para todos!">
    <meta name="fragment" content="!" />

    <title>Radio a la Calle | Home </title>
    
    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/css/color-defaults.css">
    <!-- <link rel="stylesheet" href="assets/css/swatch-beige-black.min.css">
    <link rel="stylesheet" href="assets/css/swatch-black-beige.min.css">
    <link rel="stylesheet" href="assets/css/swatch-black-white.min.css">
    <link rel="stylesheet" href="assets/css/swatch-black-yellow.min.css">
    <link rel="stylesheet" href="assets/css/swatch-blue-white.min.css">
     -->
    <link rel="stylesheet" href="assets/css/swatch-green-white.min.css">
    <link rel="stylesheet" href="assets/css/swatch-red-white.css">
    <link rel="stylesheet" href="assets/css/swatch-white-green.min.css">
    <link rel="stylesheet" href="assets/css/swatch-white-red.min.css">
    <!-- <link rel="stylesheet" href="assets/css/swatch-white-black.min.css">
    <link rel="stylesheet" href="assets/css/swatch-white-blue.min.css">
    <link rel="stylesheet" href="assets/css/swatch-yellow-black.min.css">
     -->
     <link rel="stylesheet" href="assets/css/fonts.min.css" media="screen">

     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-74771464-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  
  <body class="pace-on pace-dot" ng-app="rac" class="ng-cloak">
    <div class="pace-overlay"></div>

    <div ng-controller="HeaderController">
      <div class="top-bar swatch-green-white">
        <div class="container">
          <div class="top top-left">
            <div class="sidebar-widget">
              <ul class="list-unstyled inline social-icons social-simple">
                <li><a href="https://twitter.com/radioalacalle" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/radioalacalle/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/radioalacalle/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <!--<li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li> -->
                <li>
                <a href="https://www.mixcloud.com/radioalacalle/" target="_blank"><i class="fa fa-cloud"></i></a></li>
                <li style="font-weight: bold;">
                  <a style="margin-left: 15px"><i class="fa fa-whatsapp"></i></a>
                  <span>+54 9 11 6194 3691</span>
                </li>
                <li style="font-weight: bold;">
                  <span style="color: #fff; margin-left: 15px" current-time="'hh:mm a'"></span>
                  <span style="color: #fff; margin-left: 15px">{{ weather.temperature }}°C</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="top top-right">
            <div class="sidebar-widget" style="padding: 2px 0;">
             <audio controls autoplay style="margin-bottom: -10px !important;background: #fff;border: 3px #fff solid;width: 185;box-sizing: content-box;border-radius: 6px;">
              <source src="http://01.solumedia.com.ar:8330/;stream.nsv" />
              </audio>
            </div>
          </div>
        </div>
      </div>

      <header id="masthead" class="navbar navbar-sticky swatch-white-green" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" class="pointer" ng-click="goTo('/')">
              <img src="images/logo_bird.png" alt="radio-a-la-calle" style="width: 48px;">
              <img src="images/logo-large.png" alt="radio-a-la-calle" style="width: 200px;">
            </a>
          </div>
          <nav class="collapse navbar-collapse main-navbar" role="navigation">
            <!-- <div class="sidebar-widget widget_search pull-right">
              <form>
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Buscar...">
                  <span class="input-group-btn">
                    <button class="btn" type="submit">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div> -->
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" ng-class="{'active': isSelected('/')}">
                <a ng-click="goTo('/')" class="dropdown-toggle">Inicio</a>
              </li>
              <li class="dropdown menu-item-object-oxy_mega_menu" ng-class="{'active': isSelected('/about')}">
                <a ng-click="goTo('/about')" class="dropdown-toggle" data-toggle="dropdown">Nosotros</a>
              </li>
              <li class="dropdown menu-item-object-oxy_mega_menu" ng-class="{'active': isSelected('/schedule')}">
                <a ng-click="goTo('/schedule')" class="dropdown-toggle" data-toggle="dropdown">Programas</a>
              </li>
              <li class="dropdown menu-item-object-oxy_mega_menu" ng-class="{'active': isSelected('/blog')}">
                <a ng-click="goTo('/blog')" class="dropdown-toggle" data-toggle="dropdown">Entrevistas</a>
              </li>
              <li class="dropdown menu-item-object-oxy_mega_menu" ng-class="{'active': isSelected('/contact')}">
                <a ng-click="goTo('/contact')" class="dropdown-toggle" data-toggle="dropdown">Contacto</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
    </div>
    
    <div id="content" role="main">
      <div class="cotainer">
        <div class="row">
          <section class="section swatch-green-white" ng-show="showHomeVideo">
              <div class="background-media" style="background-image: url(''); background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;">
                  <video poster="" style="width: 100%; height: 100%;" muted loop autoplay="{{showHomeVideo}}" class="section-background-video">
                      <source type="video/mp4" src="images/video.mp4"></source>
                      <source type="video/webm" src=""></source>
                      <source type="video/ogg" src=""></source>
                  </video>
              </div>
              <div class="background-overlay" style="background-color:rgba(87, 180, 160, 0.7)"></div>
              <div class="container">
                  <header class="section-header underline">
                      <img src="images/logo-big.png" alt="radio-a-la-calle">
                  </header>
              </div>
          </section>
          <section class="section swatch-green-white" ng-if="!showHomeVideo && !underConstruction">
           <div class="background-media" style="background-image: url('images/bg.jpg'); background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;" data-start="background-position: 50% 0px"
                data-top-bottom="background-position: 50% -200px">
                </div>
                <div class="background-overlay" style="background-color:rgba(87, 180, 160, 0.7)"></div>
            <div class="container">
              <header class="section-header underline">
                <h1 class="headline super hairline">
                  {{ title }}
                  <br>
                  <small>{{subTitle}}</small>
                </h1>
              </header>
            </div>
          </section>
        </div>
        <div class="row">
          <div class="col-md-12 col-xs-12" ng-view></div>
          <!-- <div class="col-md-3 col-xs-12"></div> -->
        </div>
      </div>
    </div>

    <footer id="footer" role="contentinfo">
      <section class="section swatch-green-white has-top" style="padding: 20px 0">
        <div class="decor-top">
          <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M-5 100 Q 0 20 5 100 Z M0 100 Q 5 0 10 100 M5 100 Q 10 30 15 100 M10 100 Q 15 10 20 100 M15 100 Q 20 30 25 100 M20 100 Q 25 -10 30 100 M25 100 Q 30 10 35 100 M30 100 Q 35 30 40 100 M35 100 Q 40 10 45 100 M40 100 Q 45 50 50 100 M45 100 Q 50 20 55 100 M50 100 Q 55 40 60 100 M55 100 Q 60 60 65 100 M60 100 Q 65 50 70 100 M65 100 Q 70 20 75 100 M70 100 Q 75 45 80 100 M75 100 Q 80 30 85 100 M80 100 Q 85 20 90 100 M85 100 Q 90 50 95 100 M90 100 Q 95 25 100 100 M95 100 Q 100 15 105 100 Z" stroke-width="0"></path>
          </svg>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-4">
              <p>
                <i class="fa fa-location-arrow"></i>
                Av. Forest 1236 - C.A.B.A.
              </p>
              <p>
                <a href="tel:+541145526853" style="color: #fff">
                  <i class="fa fa-phone"></i>
                  +54 11 4552 6853
                </a> 
                <br>
                <a href="tel:+5491161943691" style="color: #fff">
                  <i class="fa fa-whatsapp"></i>
                  +54 9 11 6194 3691
                </a>
                <br>
                <a href="mailto:hola@radioalacalle.com" style="color: #fff">
                  <i class="fa fa-envelope"></i>
                  hola@radioalacalle.com
                </a>
              </p>
            </div>
            <div class="col-xs-4 text-center">
              <div class="sidebar-widget widget_text">
                <div class="textwidget">
                  <img src="images/logo_bird_white.png" alt="radio-a-la-calle" style="width: 48px">
                  Radio A La Calle &copy;
                  <p style="margin-top: 20px">
                    by <a href="http://keepe.rs" target="_blank">Keepers</a> with love <span style="color:tomato">♥</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-4 text-right">
              <div class="sidebar-widget  widget_swatch_social">
                  <ul class="unstyled inline small-screen-center social-icons social-background social-simple">
                    <li>
                      <a target="_blank" href="https://www.facebook.com/radioalacalle/" style="font-size: 40px">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://twitter.com/radioalacalle" style="font-size: 40px">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a target="_blank" href="https://www.instagram.com/radioalacalle/" style="font-size: 40px">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <!-- <li>
                      <a target="_blank" href="http://www.oxygenna.com">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                     <li>
                      <a target="_blank" href="http://www.oxygenna.com">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li> -->
                    <li>
                      <a target="_blank" href="https://www.mixcloud.com/radioalacalle/" style="font-size: 40px">
                        <i class="fa fa-cloud"></i>
                      </a>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </section>
    </footer>

    <a class="go-top circle" href="javascript:void(0)">
      <i class="fa fa-angle-up"></i>
    </a>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <script src="bower_components/angularUtils-disqus/dirDisqus.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="assets/js/packages.min.js"></script>
    <script src="assets/js/theme.min.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>

    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/schedule.js"></script>
    <script src="scripts/controllers/live.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/post.js"></script>
    <script src="scripts/controllers/aside.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/show.js"></script>

    <script src="scripts/services/page.js"></script>
    <script src="scripts/services/post.js"></script>
    <script src="scripts/services/gallery.js"></script>
    <script src="scripts/services/email.js"></script>
    <script src="scripts/services/mixcloud.js"></script>
    <script src="scripts/services/current.js"></script>
    <script src="scripts/services/ad.js"></script>
    <script src="scripts/services/widget.js"></script>
    <script src="scripts/services/weather.js"></script>
    <script src="scripts/services/show.js"></script>

    <script src="scripts/directives/infinit-scroll.js"></script>
    <script src="scripts/directives/script.js"></script>
    <script src="scripts/directives/current-time.js"></script>
    <script src="scripts/directives/flash.js"></script>
    <script src="scripts/directives/isotope.js"></script>
    <script src="scripts/directives/mobile-menu.js"></script>
    <script src="scripts/directives/vertical-tab.js"></script>
    <script src="scripts/directives/slider.js"></script>

    <script src="scripts/filters/text.js"></script>
    <script src="scripts/filters/show-days.js"></script>
    <script src="scripts/filters/ellipsis.js"></script>
    
    <!-- endbuild -->
  </body>
</html>
