<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Radio a la Calle</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css" />
  <link rel="stylesheet" href="bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- endbuild -->
</head>
<body ng-app="rac">
    <!--[if lt IE 7]>
      <p class="browsehappy">Estas usando un navegador <strong>obsoleto</strong>. Por favor <a href="http://browsehappy.com/">actualiza to navegador</a> para mejorar tu experiencia de uso.</p>
      <![endif]-->

      <!-- Add your site or application content here -->
      <div class="header" ng-controller="HeaderCtrl">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="#/">
                <img alt="Brand" src="images/logo.png" height="24" width="24">
              </a>
            </div>

            <div class="collapse navbar-collapse" id="js-navbar-collapse">

              <ul class="nav navbar-nav">
                <li><a href="#/live">En Vivo!</a></li>
                <li><a ng-href="#/about">Nosotros</a></li>
                <li><a ng-href="#/schedule">Programación</a></li>
                <li><a ng-href="#/blog">Blog</a></li>
                <li><a ng-href="#/contact">Contacto</a></li>
              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-play-circle"></span></a></li>
                <li><a href="#" current-time="h:mm:ss a"></a></li>
                <li><a href="#">{{temp.temp}}°C</a></li>
              </ul>

            </div>
            <!-- Radio Playe r-->
            <!-- Time and Weather -->
          </div>
        </div>
      </div>

      <div class="container" style="padding-top: 50px;">
        <div class="row">
          
          <div class="col-xs-2 aside-left">
            <aside ng-controller="AsideCtrl">
              <img class="img-thumbnail ad" src="{{ad.image ? ad.image.url : 'http://dummyimage.com/200x200/f3f3f3/3d3d3d'}}" alt="{{ad.title}}" ng-repeat="ad in ads"> 
            </aside>
          </div>

          <div class="col-xs-8">
            <div ng-view=""></div>
          </div>  
          
          <div class="col-xs-2 aside-right">
            <aside ng-controller="AsideCtrl">
              <div class="widget" ng-repeat="widget in widgets" script="{{widget.content}}">
              </div>
            </aside>
          </div>

        </div>
      </div>

      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-8">
              <p><span class="glyphicon glyphicon-heart red"></span> Radio a la Calle &copy; 2015</p>
            </div>
            <div class="col-xs-12 col-md-4">
              <a class="btn btn-social-icon btn-facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a class="btn btn-social-icon btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a class="btn btn-social-icon btn-instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a class="btn btn-social-icon btn-google">
                <i class="fa fa-youtube"></i>
              </a>
              <a class="btn btn-social-icon btn-soundcloud">
                <i class="fa fa-soundcloud"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Facebook SDK -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=525871400826517";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
      <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
         (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
         r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
     </script>

     <!-- build:js(.) scripts/vendor.js -->
     <!-- bower:js -->
     <script src="bower_components/jquery/dist/jquery.js"></script>
     <script src="bower_components/angular/angular.js"></script>
     <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
     <script src="bower_components/angular-animate/angular-animate.js"></script>
     <script src="bower_components/angular-cookies/angular-cookies.js"></script>
     <script src="bower_components/angular-resource/angular-resource.js"></script>
     <script src="bower_components/angular-route/angular-route.js"></script>
     <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
     <script src="bower_components/angular-touch/angular-touch.js"></script>
     <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
     <script src="bower_components/moment/moment.js"></script>
     <script src="bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
     <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
     <script src="bower_components/lodash/lodash.js"></script>
     <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
     <!-- endbower -->
     <!-- endbuild -->

     <script src="http://maps.google.com/maps/api/js"></script>
     <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

     <!-- build:js({.tmp,app}) scripts/scripts.js -->
     <script src="scripts/app.js"></script>

     <script src="scripts/controllers/home.js"></script>
     <script src="scripts/controllers/about.js"></script>
     <script src="scripts/controllers/schedule.js"></script>
     <script src="scripts/controllers/live.js"></script>
     <script src="scripts/controllers/blog.js"></script>
     <script src="scripts/controllers/contact.js"></script>
     <script src="scripts/controllers/post.js"></script>
     <script src="scripts/controllers/aside.js"></script>
     <script src="scripts/controllers/header.js"></script>

     <script src="scripts/services/page.js"></script>
     <script src="scripts/services/post.js"></script>
     <script src="scripts/services/gallery.js"></script>
     <script src="scripts/services/email.js"></script>
     <script src="scripts/services/mixcloud.js"></script>
     <script src="scripts/services/current.js"></script>
     <script src="scripts/services/ad.js"></script>
     <script src="scripts/services/widget.js"></script>
     <script src="scripts/services/weather.js"></script>

     <script src="scripts/directives/infinit-scroll.js"></script>
     <script src="scripts/directives/script.js"></script>
     <script src="scripts/directives/current-time.js"></script>

     <script src="scripts/filters/text.js"></script>
     <!-- endbuild -->
   </body>
   </html>
