// Variables - colors, fonts, breakpoints...
@import 'settings/settings';

// Mixins, Functions...
@import 'tools/tools';

// Defaults - Normalize, Reset...
@import 'generic/generic';

// unclassed HTML Tags - h1, button, form...
@import 'elements/elements';

// Elements with classes - .button, .icon...
@import 'objects/objects';

// Pieces of UI - Header, Footer, Box...
@import 'components/components';

// Overrides - !important
@import 'helpers/helpers';

.is-visible {
  opacity: 1;
}

.is-invisible {
  opacity: 0;
}

img {
  animation: fadeIn;
}

h1 {
  text-transform: capitalize;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.carousel__holder.box.box--row {
  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.hide {
  display: none;
}

@include media(mobile) {
  .show--mobile {
    display: flex !important;
  }

  .hide--mobile {
    display: none !important;
  }

  .box {
    padding: 0 10px;
  }

  a.logo {
    width: 100%;
    text-align: center;
  }

  main.content {
    padding: 0;
  }

  img.slider-ad, img.header__logo, .box__image--featured img {
    max-width: 100% !important;
    height: auto !important;
  }

  .carousel__holder {
    padding: 10px;
    width: 100% !important;
  }

  a.carousel__block {
    max-width: 200px;
    margin: 10px auto !important;
    // margin-bottom: 10px;
  }

  .square-ad, .slider-ad {
    justify-content: center;
  }

  .box--podcast {
    padding: 0 2px;
  }
}

@include media(tablet) {
  .show--mobile {
    display: flex !important;
  }

  .hide--mobile {
    display: none !important;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}

.move-enter-active, .move-leave-active {
  transform: translateX(0);
  transition: all .3s linear;
}

.move-enter,
.move-leave-to {
  transform: translateX(100%);
}

.moveup-enter-active, .moveup-leave-active {
  transform: translateY(0);
  transition: all .5s linear;
}

.moveup-enter,
.moveup-leave-to {
  transform: translateY(100%);
}
