<section class="section swatch-white-green">
  
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center" ng-bind-html="about.content"> 
      </div>
    </div>
  </div>
</section>

<section class="section swatch-green-white" ng-show="about.workspace && about.workspace.length">
  
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">Conoce la Radio</h1>
    </header>
    <div class="row">
      <div class="col-xs-12">
        <div slider class="flexslider text-left" data-flex-speed="7000" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal="alternate" data-flex-captionvertical="bottom"
        data-flex-controlsposition="inside" data-flex-directions-type="fancy">
          <ul class="slides">
            <li ng-repeat="image in workspace">
              <img ng-src="{{image.url}}" alt="some image">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section swatch-white-green" ng-show="about.clients && about.clients.length">
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">Confian en Nosotros</h1>
    </header>
    <div class="row">
      <div slider class="flexslider os-animation" data-flex-speed="7000" data-flex-itemwidth="235pxpx" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal=""
      data-flex-captionvertical="" data-flex-controlsposition="" data-flex-directions-type="">
        <ul class="slides">
          <li ng-repeat="image in clients">
            <figure>
              <img ng-src="{{image.url}}" alt="radio-a-la-calle">
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>