<div class="page-header">
  <h1>Nosotros</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto enim ea similique, aliquam odit nihil inventore ipsam, consectetur illum amet tenetur suscipit nisi voluptate earum harum atque at doloremque neque.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis pariatur ex voluptatem quibusdam eveniet, ipsam nulla dicta, modi nesciunt rerum, ea cupiditate voluptate suscipit nobis omnis provident! Dolore commodi, nihil!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <iframe width="700" height="394" src="https://www.youtube.com/embed/pjIleTCQAS8" frameborder="0" allowfullscreen></iframe>    
  </div>
</div>

