<div class="page-header">
  <h1>Blog</h1>
</div>

<div class="row">
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/1" alt="">
    </a>
    <h3>
      <a href="#">Post #1</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/2" alt="">
    </a>
    <h3>
      <a href="#">Post #2</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/3" alt="">
    </a>
    <h3>
      <a href="#">Post #3</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/4" alt="">
    </a>
    <h3>
      <a href="#">Post #4</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/5" alt="">
    </a>
    <h3>
      <a href="#">Post #5</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/6" alt="">
    </a>
    <h3>
      <a href="#">Post #6</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/7" alt="">
    </a>
    <h3>
      <a href="#">Post #7</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/8" alt="">
    </a>
    <h3>
      <a href="#">Post #8</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
  <div class="col-md-4 portfolio-item">
    <a href="#">
      <img class="img-responsive" src="http://lorempixel.com/g/215/125/people/9" alt="">
    </a>
    <h3>
      <a href="#">Post #9</a>
    </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
  </div>
</div>