<ng-include src="'templates/under-construction.html'"></ng-include>

<!-- <section class="section swatch-white-red has-top" infinite-scroll="getPosts()">
  <div class="container">
    <div class="row">
      <ul class="list-unstyled no-transition">
        <li class="col-md-4 post-item isotope-item" ng-repeat="post in posts">
          <div class="grid-post swatch-red-white">
            <article class="post post-showinfo">
              <div class="post-media overlay">
                <a class="feature-image magnific hover-animate" href="assets/images/design/vector/img-4-800x600.png" title="Thats a nice image">
                  <img alt="some image" ng-src="{{post.image ? post.image.url : 'http://lorempixel.com/g/325/150/people/' + $index}}">
                  <i class="fa fa-search-plus"></i>
                </a>
              </div>
              <div class="post-head small-screen-center">
                <h2 class="post-title">
                  <a ng-click="goToPost($index)" class="pointer">
                    {{post.title}}
                  </a>
                </h2>
                <small class="post-author">
                  <a href="blog.html">John Langan,</a>
                </small>
                <small class="post-date">
                  <a href="post.html">12 August 2014</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                  <div class="hex hex-big">
                    <i class="fa fa-camera"></i>
                  </div>
                </div>
              </div>
              <div class="post-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                </p>
                <a class="more-link" href="post.html">
                  read more
                </a>
              </div>
              <div class="bordered post-extras text-center">
                <div class="text-center">
                  <span class="post-category">
                    <a href="post.html">
                      <i class="fa fa-folder-open"></i>
                      Flat world
                    </a>
                  </span>
                  <span class="post-tags">
                    <i class="fa fa-tags"></i>

                    <a href="post.html">
                      Design
                    </a>




                  </span>
                  <span class="post-link">
                    <a href="post.html">
                      <i class="fa fa-comments"></i>
                      2 comments
                    </a>
                  </span>
                </div>
              </div>
            </article>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section> -->