<section class="section swatch-white-green section-nopadding">
  <div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0 C50 100 50 100 100 0  L100 100 0 100" stroke-width="0"></path>
    </svg>
  </div>
  <div class="container">
    <header class="section-header underline">
      <h2 class="headline hyper hairline">
        Participa de los programas!
        <br>
        <small>
          <i class="fa fa-whatsapp"></i>&nbsp;<a href="#">+54 9 112825 2375</a>
        </small>
      </h2>
    </header>
  </div>
</section>

<section class="section swatch-white-green section-nopadding">
  <div class="container-fullwidth">
    <div class="row">
      <div class="col-md-12">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options' class="google-map">
        <ui-gmap-marker idKey='marker.key' coords='marker.location'></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </div>
</div>
</section>

<section class="section swatch-white-green has-top">
  <div class="container">
    <header class="section-header underline">
      <h2 class="headline hyper hairline">
        Mantenete en contacto
        <br>
        <small>Dejanos acá tu mensaje</small>
      </h2>
      
      <p class="big">
        <i class="fa fa-location-arrow"></i>&nbsp;Av. Forest 1236, Ciudad Autonoma de Buenos Aires, Argentina <br>
        <i class="fa fa-phone"></i>&nbsp;<a href="#">+54 11 4552 6853</a><br>
        <i class="fa fa-whatsapp"></i>&nbsp;<a href="#">+54 9 11 6194 3691</a> <br>
        <i class="fa fa-envelope"></i>&nbsp;<a href="#">hola@radioalacalle.com</a>
      </p>
    </header>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-info" ng-show="alert.message">
          <button class="close" data-dismiss="alert" type="button">×</button>
          <span>{{alert.message}}</span>
        </div>
        <form name="emailForm" class="contact-form">
          <div class="form-group form-icon-group">
            <input class="form-control"  name="name" placeholder="Tu nombre *" type="text" required ng-model="email.name"/>
            <i class="fa fa-user"></i>
          </div>
          <div class="form-group form-icon-group">
            <input class="form-control"  name="email" placeholder="Tu email *" type="email" required ng-model="email.from">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="form-group form-icon-group">
            <textarea class="form-control" name="message" placeholder="Tu mensaje" rows="10" required ng-model="email.message"></textarea>
            <i class="fa fa-pencil"></i>
          </div>
          <div class="form-group form-icon-group">
            <input type="text" class="form-control" placeholder="Cuanto es 3 + 2 ?" ng-model="email.captcha" required>
            <i class="fa fa-pencil"></i>
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary btn-icon btn-icon-right" ng-click="sendEmail()" type="submit">
              <span ng-show="!isSending">
                <i class="fa fa-envelope"></i>&nbsp;Enviar Consulta
              </span>
              <ng-include src="'templates/wave.html'" class="wave" ng-show="isSending"></ng-include>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="section swatch-green-white has-top">
  <div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 100 C50 0 50 0 100 100 Z" stroke-width="0"></path>
    </svg>
  </div>
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">Soñas con tu propio programa?</h1>
    </header>
    <div class="text-center">
      <a class="btn btn-primary btn-lg btn-icon-right pull-center" href="mailto:producción@radioalacalle.com">
        Hacelo Realidad
        <div class="hex-alt hex-alt-big">
          <i class="fa fa-rocket" data-animation="tada"></i>
        </div>
      </a>
    </div>
  </div>
</section>

<section class="section swatch-white-green has-top">
  <div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0 C50 100 50 100 100 0  L100 100 0 100" stroke-width="0"></path>
    </svg>
  </div>
  <div class="container">
    <header class="section-header underline">
      <h2 class="headline super hairline">
        Sumate al equipo
        <br>
        <small>Si te interesa formar parte de Radio a la Calle mandanos tu CV.</small>
      </h2>
    </header>
    <div class="text-center">
      <a class="btn btn-primary btn-lg btn-icon-right pull-center" href="mailto:produccion@radioalacalle.com">
        Enviar CV
        <div class="hex-alt hex-alt-big">
          <i class="fa fa-rocket" data-animation="tada"></i>
        </div>
      </a>
    </div>
  </div>
</section>
