<section class="block title text-left">
  <div class="container">
    <aside>
      <div class="g md-one-whole">
        <h1>{{title}}</h1>
      </div>
    </aside>
  </div>
</section>

<section id="wrapper-contact">
  <div class="container">
    <div class="gw">
      <div class="g lg-one-whole">
        <section>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.0464945926797!2d-58.463004785083484!3d-34.577690080466226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5df08b43b11%3A0x19310d3c079ddc90!2sAv.+Forest+1236%2C+C1427CEW+CABA!5e0!3m2!1ses!2sar!4v1450791734028" width="963" height="365" frameborder="0" style="border:0" allowfullscreen></iframe>
        </section>
      </div>
   </div>


   <div class="gw">
    <aside class="g lg-six-twelfths form-section">
      <section>
        <h2>Matenete en <strong>contacto</strong></h2>
        <p>Podes escribirnos a <span>hola@radioalacalle.com</span></p>
        <p>Dejanos tu mensaje, te vamos a responder tan pronto como podamos.</p>
        <span class="red">{{alert.message}}</span>
        <aside class="lg-one-whole">
          <form name="emailForm">
            <input type="text" class="form-control" placeholder="Nombre" ng-model="email.name" required>
            <input type="email" class="form-control" placeholder="Email" ng-model="email.from" required>
            <textarea class="form-control" rows="4" placeholder="Mensaje" ng-model="email.message" required></textarea>
            <input type="text" class="form-control" placeholder="Cuanto es 3 + 2 ?" ng-model="email.captcha" required>
            <button value="Enviar" ng-click="sendEmail()">
              <span ng-show="!isSending">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;Enviar
              </span>
              <ng-include src="'templates/wave.html'" class="wave" ng-show="isSending"></ng-include>
            </button>
          </form>
        </aside>
      </section> 
    </aside>

    <article id="contact-details">
      <div class="g lg-six-twelfths">
        <aside class="box block color" style="background-color: #C16D85">
         <h4>Tenés un programa?</h4>
         <h1>Contactate!</h1>
         <p>Telefono: +54 11 XXXX XXXX</p>
         <a href="mailto:ventas@radioalacalle.com">ventas@radioalacalle.com</a>
       </aside>

       <aside class="box block">
         <h2 data-color="#b39ddb" style="color: #1DB3BA;">Veni a Conocer la Radio</h2>
         <p>Av. Forest 1236, Ciudad Autonoma de Buenos Aires, Argentina</p>
       </aside>

       <aside class="box block">
         <h2 data-color="#29b6f6" style="color: #1DB3BA;">Sumate a nuestro staff</h2>
         <p>Si te interesa formar parte de Radio a la Calle mandanos tu CV a <a href="mailto:carreras@radioalacalle.com" style="color: #1DB3BA">carreras@radioalacalle.com</a>.</p>
       </aside>
     </div>
   </article><!-- contact-details -->
 </div>
</div>
</section>

<div class="row">
  <div class="col-xs-12">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
    <ui-gmap-marker idKey='marker.key' coords='marker.location'></ui-gmap-marker>
  </ui-gmap-google-map>
</div>
</div>


