<section class="title text-left red">
  <div class="container">
    <aside>
      <div class="g md-one-whole">
        <h1>Radio a la Calle <small><a href="#" class="red">En Vivo!</a></small></h1>
        <p ng-bind-html="content"></p>
      </div>
    </aside>
  </div>
</section>

<aside class="featured-blog">
  <div class="container">
    <div class="gw">
      <div class="g lg-one-whole">
        <aside class="feature-slider" slider="images">
          <ul class="slides">
            <li ng-repeat="image in images">
              <div class="featured-img">
                <div class="img-holder overlay">
                  <img ng-src="{{image.url}}" alt="blog-featured" class="background-image">
                </div>
                <div class="inner align-vertical">
                  <a href="#">
                    <p>Right ideas. real <strong>results.</strong> all in.</p>
                  </a>
                  <p>Experience a completely aute et occaecat nostrud Duis aute ad velit quis consectetur aliquip.</p>
                </div>
              </div>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</aside>

<article id="skills">
  <div class="container">
    <div class="gw">
      <div class="g lg-three-twelfths" ng-repeat="cast in mixcloud">
        <div class="info">
          <p>
            <a href="{{cast.url}}" target="_blank">
              <span class="glyphicon glyphicon-volume-up"></span>
              {{cast.name.substring(0, cast.name.indexOf('20'))}}
            </a>
            <p><small>{{cast.created_time | date}}</small></p>
          </p>
        </div>
      </div>
    </div>
  </div>
</article>