<section class="section swatch-white-green">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div slider class="flexslider text-left" data-flex-speed="7000" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal="alternate" data-flex-captionvertical="bottom" data-flex-controlsposition="inside" data-flex-directions-type="fancy">
          <ul class="slides">
            <li ng-repeat="image in images">
              <img ng-src="{{image.url}}" alt="some image" stlye="width:818px;height:545px;">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section swatch-green-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p ng-bind-html="content"></p>
      </div>
    </div>
  </div>
</section>

<section class="section swatch-white-green">
  <div class="container">
    <header class="section-header underline">
      <h1 class="headline super hairline">Últimos Programas</h1>
    </header>
    <div class="row">
      <ul class="list-unstyled row box-list">
        <li class="col-md-3 text-center os-animation" data-os-animation="fadeInUp" data-os-animation-delay="{{ '.' + ($index + 3).toString() + 's'}}" ng-repeat="cast in mixcloud">
          <div class="box-round">
            <div class="box-dummy"></div>
            <a href="{{cast.url}}" target="_blank">
              <img class="svg-inject animated" ng-src="{{cast.pictures.medium}}" alt="a clock" data-animation="">
            </a>
          </div>
          <h3 class="text-center">
            <i class="fa fa-volume-up"></i>
            <a href="{{cast.url}}">{{cast.name.substring(0, cast.name.indexOf('20'))}}</a>
          </h3>
          <p class="text-center">{{cast.created_time | date}}</p>
        </li>
      </ul>
    </div>
  </div>
</section>