<div class="page-header">
  <h1>Radio a la Calle <small><a href="#" class="red">En Vivo!</a></small></h1>
</div>

<div id="slider" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#slider" ng-repeat="image in images" data-slide-to="$index" ng-class="{active: $index === 0}">
    </li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item" ng-repeat="image in images" ng-class="{active: $index === 0}">
        <img ng-src="{{image.url}}" alt="{{'radio-a-la-calle-' + $index}}">
    </div>
  </div>

</div>

<div ng-if="content">
  <br>
  <br>
  <hr>
  <div class="row">
    <div class="col-xs-12" ng-bind-html="content">
    </div>
  </div>
</div>
