<section class="title text-left">
  <div class="container">
    <aside>
      <div class="g md-one-whole">
        <h1>{{title}} <small>{{subTitle}}</small></h1>
      </div>
    </aside>
  </div>
</section>

<aside class="featured-blog" is-flash="false">
  <div class="container">
    <div class="gw">
      <div class="g lg-one-whole" ng-bind-html="content">
      </div>
    </div>
  </div>
</aside>

<aside class="featured-blog" is-flash="true">
  <div class="container">
    <div class="gw">
      <div class="g lg-one-whole">
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="50" height="50" align="absmiddle">
          <param name="movie" value="https://www.alsolnet.com/stream/alacalle/alsolnethd.swf">
          <param name="flashvars" value="audioid=alacalle">
          <param name="quality" value="high">
          <embed src="https://www.alsolnet.com/stream/alacalle/alsolnethd.swf" width="50" height="50" align="absmiddle" flashvars="audioid=alacalle" quality="high" pluginspage="https://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash">
        </object>
      </div>
    </div>
  </div>
</aside>