<section class="title text-left">
  <div class="container">
    <aside>
      <div class="g md-one-whole">
        <h1>
          {{title}} <small style="color: #C16D85; text-transform: none"><i>&nbsp;{{subTitle}}</i></small>
        </h1>
      </div>
    </aside>
  </div>
</section>

<article class="elments-page">
  <div class="container">
    <div class="all">
      <section style="padding-top: 0">

        <div class="g block lg-one-whole">
          <div class="vertical-tabs-container" vertical-tab>
            <div class="vertical-tabs">
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="all">Todos</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="mon">Lunes</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tues">Martes</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="wed">Miércoles</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="thurs">Jueves</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="fri">Viernes</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="sat">Sábado</a>
              <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="sun">Domingo</a>
            </div>

            <div class="vertical-tab-content-container">
              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="all">Todos</a>
              <div id="all" class="js-vertical-tab-content vertical-tab-content" style="display: none;">

                <section class="block news clearfix">
                  <div class="g xl-one-half lg-one-half md-one-half sm-one-half wrapper" ng-repeat="show in shows">

                    <div class="block-2 flex">
                    <div class="img-holder" ng-style="{'background-url': show.profilePicture.url + ' 50% 0%;'}">
                        <img ng-src="{{show.profilePicture.url}}" alt="{{show.name}}" class="background-image" style="display: none;">
                      </div>
                      <div class="content">
                        <a ng-click="goToShow($index)">
                          <h3>{{show.title}}</h3>
                        </a>
                        <p>{{show.description}}</p>
                        <small>{{show | showDays}}</small>
                      </div>
                    </div>

                  </div>
                </section>

              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="mon">Lunes</a>
              <div id="mon" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tues">Martes</a>
              <div id="tues" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="wed">Miércoles</a>
              <div id="wed" class="js-vertical-tab-content vertical-tab-content" style="display: block;">
              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="thurs">Jueves</a>
              <div id="thurs" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="fri">Viernes</a>
              <div id="fri" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="sat">Sábado</a>
              <div id="sat" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
              </div>

              <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="sun">Domingo</a>
              <div id="sun" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
              </div>
            </div>
          </div>      
        </section>
      </div>
    </div>
  </article>

  <section>
    <div class="container">

    </div>
  </div>
</section>
