<div class="page-header">
  <h1>
    {{title}}
    <small>&nbsp;{{subTitle}}</small>
  </h1>
  <hr>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4" ng-repeat="show in shows">
    <h3>{{show.title}}</h3>
    <img class="img-responsive img-thumbnail" ng-src="{{show.profilePicture.url}}" alt="{{show.name}}">
    <p>{{show.description}}</p>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-xs-12">
    <mwl-calendar
    view="calendarView"
    current-day="currentDay"
    view-title="calendarTitle"
    events="events"
    auto-open="true">
  </mwl-calendar>
</div>
</div>
