<div class="page-header">
  <h1>
    {{title}}
    <small>&nbsp;{{subTitle}}</small>
  </h1>
  <hr>
</div>

<div class="all">
  <section>
    <div class="g block lg-one-whole">
      <h3>Vertical Tabs</h3>
      <div class="vertical-tabs-container" vertical-tab>
        <div class="vertical-tabs">
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="all">Todos</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="mon">Lunes</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tues">Martes</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="wed">Miércoles</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="thurs">Jueves</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="fri">Viernes</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="sat">Sábado</a>
          <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="sun">Domingo</a>
        </div>

        <div class="vertical-tab-content-container">
          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="all">Todos</a>
          <div id="all" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
            <div class="row">
              <div class="col-xs-12 col-md-4" ng-repeat="show in shows">
                <a ng-click="goToShow($index)">
                  <h3>{{show.title}}</h3>
                </a>
                <img class="img-responsive img-thumbnail" ng-src="{{show.profilePicture.url}}" alt="{{show.name}}">
                <p>{{show.description}}</p>
              </div>
            </div>
          </div>
    
          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="mon">Lunes</a>
          <div id="mon" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
          </div>

          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tues">Martes</a>
          <div id="tues" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
          </div>

          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="wed">Miércoles</a>
          <div id="wed" class="js-vertical-tab-content vertical-tab-content" style="display: block;">
          </div>

          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="thurs">Jueves</a>
          <div id="thurs" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
          </div>

          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="fri">Viernes</a>
          <div id="fri" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
          </div>

          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="sat">Sábado</a>
          <div id="sat" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
          </div>

          <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="sun">Domingo</a>
          <div id="sun" class="js-vertical-tab-content vertical-tab-content" style="display: none;">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
