<article class="full-blog-post">

  <div class="g md-one-whole ">
    <aside class="wrapper-post video-wrapper">
      <img ng-src="{{show.coverPicture.url}}" alt="{{show.title}}">
      <div class="post-info none">
        <h6>{{show.title}}</h6>
        <p>
          {{show.description}}
        </p>
      </div><!-- video wrapper -->
    </aside>
  </div>
</article>

<section class="block">
  <div class="container ">
    <aside>
      <div class="g md-one-whole author-info">
        <div class="client">
          <img ng-src="{{show.profilePicture.url}}" class="img--circle" alt="client">
          <h1>Seguinos!</h1>
          <p>Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Praesent egestas neque eu enim.</p>
          <ul>
            <li ng-repeat="link in show.socialLinks">
              <a href="{{link}}" target="_blank">{{link}}</a>
            </li>
          </ul>
        </div>
      </div>
    </aside>
  </div>
</section>